<ng-container *ngIf="itemService.selected$ | async as item">
  <div class="bg-white rounded shadow">
    <div class="px-4 h-16 flex justify-between items-center border-b shadow">
      <div class="flex flex-col">
        <span class="text-gray-400 text-xs">Item name:</span>
        <div class="text-gray-800 capitalize font-medium">{{ item.name }}</div>
      </div>
      <div *access="'Employee'" class="flex items-center gap-x-1 px-2">
        <app-icon-button (click)="edit()">
          <app-icon>edit</app-icon>
        </app-icon-button>
      </div>
    </div>
    <div class="p-4 grid grid-cols-2 gap-4">
      <div>
        <img
          [src]="item.image"
          [alt]="item.name"
          class="aspect-square w-full object-cover"
        />
      </div>
      <ul>
        <li class="flex flex-col">
          <span class="text-gray-400 text-xs">Description:</span>
          <span class="text-gray-900">{{ item.description }}</span>
        </li>
        <li class="flex items-center gap-x-2">
          <span class="text-gray-400 text-xs">Total:</span>
          <span class="text-gray-900">{{ item.total }}</span>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
