<app-card>
  <app-card-header>
    <app-card-header-title>Sign In</app-card-header-title>
  </app-card-header>

  <form>
    <app-card-content>
      <!-- <app-form-control
        label="Email"
        error="Provide correct email address"
        [invalid]="isFieldInvalid('email')"
      > -->
      <app-input type="email" placeholder="Enter your email" />
      <!-- </app-form-control> -->
    </app-card-content>
    <app-card-actions>
      <!-- <app-button type="submit" [disabled]="form.invalid">Create</app-button> -->
    </app-card-actions>
  </form>
</app-card>
